build

.setup.py.swp

docopt.egg-info

.DS_Store

.project

.pydevproject

*.pyc

*.log

.idea

.settings/org.eclipse.ltk.core.refactoring.prefs

src/framed/tests/yeast_project.py

.settings/org.eclipse.core.resources.prefs

datasets/ishii2007/fluxomics.csv

src/framed/tests/main.py
